<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주식 거래내역</title>

  <style>

    .Grid {
      width: 100%;
      height: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
    }

    .CardContainer {
      width: 100%;
      height: 70%;
      position: relative;
    }

    .CardContainer::after {
      display: block;
      padding-bottom: 100%;
    }

  .new_input{
    border:0 solid black;
  }
  .td_disable{
        pointer-events : none;
      }
</style>

  <!--부트스트랩-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" th:src="@{/JS/details/details.js}"></script>
  <!-- 부트 스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script th:inline="javascript">

    window.onload = function(){
        const data = /*[[${sList}]]*/;
        //  차트
        myChart(data);


}


  </script>
</head>
<body>
  
    <label th:text="${title}"></label> 

    <br><br><br>
    <div>
        <a href="/">홈</a>
        <a href="/dividend/dividendList">배당화면</a>
        <a href="/clndr/dvdndClndr">일정관리</a>
    </div>
    <br><br><br>  
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered w-100">
            <thead>
              <form if="myForm" th:action="@{/details/details}" method="get">
              <tr>
                  <th class="w-10" style="display: none;">순번</th>
                  <th class="w-10" colspan="2">
                    
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroup-sizing-sm">주식</span>
                      <select class="form-select w-20" aria-label="Default select example" id="selectBox" name="stockName">
                        <option  th:value="allStockName" th:text="전체"></option>
                        <th:block th:each="selectBox : ${selectBox}">
                          <option name="stockName" th:value="${selectBox.stockName}"
                          th:text="${selectBox.stockName}" th:selected="${selectBox.stockName} == ${reStockName}"></option>
                        </th:block>
                      </select>
                      <input type="submit" class="btn btn-outline-secondary" onclick="stockSrch();" value="검색">
                    </div>
                  </th>
                  <th class="w-10" colspan="2">
                    <div class="input-group">
                    주기&nbsp;&nbsp;&nbsp;
                    <input class="form-control" list="datalistOptions" id="exampleDataList1" name="dividendCycle" th:value="${reDividendCycle}">
                    <datalist id="datalistOptions">
                      <option value="전체">
                      <option value="01,04,07,10">
                      <option value="02,05,08,11">
                      <option value="03,06,09,12">
                      <option value="04,07,10,12">
                      <option value="월">
                    </datalist>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-secondary">검색</button>
                    </div>
                  </th>
                  <th>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      등록
                    </button>  
                  </th>
                  <th class="w-10" colspan="14"></th>
              </tr>
              </form>
                <tr>
                    <th class="w-10" style="display: none;">순번</th>
                    <th class="w-10" >주식명</th>
                    <th class="w-10">주식수</th>
                    <th class="w-10">배당주기</th>
                    <th class="w-10">매입금</th>
                    <th class="w-10">배당금</th>
                    <th class="w-10">등록일자</th>
                    <th class="w-10">구분</th>
                    <th class="w-10">01월</th>
                    <th class="w-10">02월</th>
                    <th class="w-10">03월</th>
                    <th class="w-10">04월</th>
                    <th class="w-10">05월</th>
                    <th class="w-10">06월</th>
                    <th class="w-10">07월</th>
                    <th class="w-10">08월</th>
                    <th class="w-10">09월</th>
                    <th class="w-10">10월</th>
                    <th class="w-10">11월</th>
                    <th class="w-10">12월</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="slist : ${sList}">
                    <td style="display: none;"><input type="text" th:value="${slist.no}" readonly></td><!--순번-->
                    <td ><input  class="form-control-plaintext td_disable" type="text" th:value="${slist.stockName}" readonly></td><!--주식명-->
                    <td ><input class="form-control form-control-sm" type="text" th:value="${slist.stockQuantity}"></td><!--주식수-->
                    <td ><input class="form-control form-control-sm" type="text" th:value="${slist.dividendCycle}"></td><!--배당 주기-->
                    <td ><input class="form-control form-control-sm" type="text" th:value="${slist.purchasePrice}"></td><!--매입금-->
                    <td ><input class="form-control form-control-sm" type="text" th:value="${slist.dividendAmount}"></td><!--배당금-->
                    <td ><input class="form-control-plaintext td_disable" type="text" th:value="${#strings.substring(slist.rgstdate, 0, 10)}" readonly></td><!--등록일자-->

                    <!-- th:text="${#strings.substring(slist.rgstdate, 0, 8)}" -->
                    <!-- th:text="${#temporals.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}" -->
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-outline-secondary" onclick="detailsUpdate(this)">수정</button>
                        &nbsp;&nbsp;/&nbsp;&nbsp;
                        <button class="btn btn-outline-danger" onclick="detailsDelete(this);">삭제</button>
                      </div>
                    </td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'01')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'02')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'03')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'04')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'05')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'06')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'07')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'08')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'09')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'10')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'11')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                    <td class="border"
                    th:classappend="${#strings.contains(slist.dividendCycle,'12')} or ${#strings.contains(slist.dividendCycle,'월')} ? 'bg-warning' : ''"
                    ></td>
                </tr>

                
            </tbody>
        </table>

    </div>

<br/><br/><br/>
    <section class="Main">
      <div class="w-75 p-3">
        <div class="Grid">
          <div class="CardContainer">
            <p class="text-center">주식 수</p>
            <div class="CardBox w-70">
              <canvas id="sharesPieMyChart"></canvas>
            </div>
          </div>
          <div class="CardContainer w-100">
            <p class="text-center">배당금 기준</p>
            <div class="CardBox w-70">
              <canvas id="dvdndPieMyChart"></canvas>
            </div>
          </div>
          <div class="CardContainer">
            <div class="CardBox">
              <canvas id="sharesBarMyChart"></canvas>
            </div>
          </div>
          <div class="CardContainer">
            <div class="CardBox">
              <canvas id="dvdndBarMyChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!-- 등록 -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">주식 등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label ">주식명</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputStockName">
                </div>
              </div>
              <div class="mb-3 row">
                <label  class="col-sm-3 col-form-label">주식수</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputStockQuantity">
                </div>
              </div>
              <div class="mb-3 row">
                <label  class="col-sm-3 col-form-label">배당주기</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputDividendCycle">
                </div>
              </div>
              <div class="mb-3 row">
                <label  class="col-sm-3 col-form-label">매입금</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPurchasePrice">
                </div>
              </div>
              <div class="mb-3 row">
                <label  class="col-sm-3 col-form-label">배당금</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputDividendAmount">
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-outline-success" onclick="newDetailsInsert2();">저장</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
