<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.spring.mapper.com.ComMapper">
<select id = "sectionSelect"  resultType="Map" parameterType="Map">
        SELECT          /* ComMapper.sectionSelect */
                        ROWNUM AS NO_,
                        NO,         /*순번*/
                        SECTION_CD, /*대분류코드*/
                        SECTION_NM, /*대분류명*/
                        USE_YN,     /*사용여부*/
                        REG_YMD     /*등록일자*/
                FROM
                        SECTION
                where 1=1
                <if test='SECTION_CD != null and SECTION_CD != "" '>
                        AND SECTION_CD LIKE '%'|| #{SECTION_CD} ||'%'
                </if>
                <if test='SECTION_NM != null and SECTION_NM != "" '>
                        AND SECTION_NM LIKE '%'|| #{SECTION_NM} ||'%'
                </if>
                        order by 1, SECTION_NM desc
</select>




<insert id="sectionInsert"  parameterType="Map">
        INSERT 	INTO	/* ComMapper.sectionInsert */
                SECTION
                (       NO,         /*순번*/
                        SECTION_CD, /*대분류코드*/
                        SECTION_NM, /*대분류명*/
                        USE_YN,     /*사용여부*/
                        REG_YMD     /*등록일자*/
                )
                VALUES(
                         (SELECT NVL(MAX(NO), 0)+1 FROM SECTION WHERE SECTION_CD = #{SECTION_CD}) /*순번*/
                        ,#{SECTION_CD} /*대분류코드*/
                        ,#{SECTION_NM} /*대분류명*/
                        ,NVL(#{USE_YN}, 'N')     /*사용여부*/
                        ,SYSDATE       /*등록일자*/
                )
</insert>



<update id="sectionUpdate" parameterType="Map">
       UPDATE   /* ComMapper.sectionUpdate */
                 SECTION
        SET 
                SECTION_CD  = #{SECTION_CD} /*대분류코드*/
                ,SECTION_NM = #{SECTION_NM} /*대분류명*/
                ,USE_YN     = #{USE_YN}     /*사용여부*/
                ,REG_YMD    = sysdate
        WHERE NO = #{NO}
</update>

<select id="comCodeClsfcSelect" parameterType="Map"  resultType="Map">
                        SELECT /* ComMapper.comCodeClsfcSelect*/
                                 NO      	/*	'순번';         */
                                ,SECTION_CD 	/*	'대분류_코드';  */
                                ,CLSFC_CD 	/*	'중분류_코드';  */
                                ,CLSFC_NM 	/*	'중분류_명';   	*/
                                ,ARRAY_NO 	/*	'정렬_순번';   	*/
                                ,USE_YN 	/*	'사용여부';    	*/
                                ,REG_YMD	/*	'등록일시';    	*/
                        FROM  CLSFC
                         WHERE      SECTION_CD = #{SECTION_CD}
                                <if test='CLSFC_CD != null and CLSFC_CD != "" '>
                                AND CLSFC_CD = #{CLSFC_CD}
                                </if>
                        ORDER BY TO_NUMBER(ARRAY_NO)
</select>


<select id="comCodeClsfcSelect001" parameterType="Map"  resultType="Map">
                        /* ComMapper.comCodeClsfcSelect001*/
                        <include refid="comCodeClsfcSelectNew"></include>
                        AND USE_YN = 'Y'
                        ORDER BY TO_NUMBER(ARRAY_NO)
</select>

<insert id="comCodeClsfcInster"  parameterType="Map">
                        INSERT  /* ComMapper.comCodeClsfcInster */
                            INTO CLSFC
                        (       
                                 NO      	/*	'순번';      	*/
                                ,SECTION_CD 	/*	'대분류_코드';  */
                                ,CLSFC_CD 	/*	'중분류_코드';  */
                                ,CLSFC_NM 	/*	'중분류_명';   	*/
                                ,ARRAY_NO 	/*	'정렬_순번';   	*/
                                ,USE_YN 	/*	'사용여부';    	*/
                                ,REG_YMD	/*	'등록일시';    	*/

                        )
                        VALUES( 
                                (
                                SELECT NVL(MAX(TO_NUMBER(NO))+1, 1) AS NO_01 
                                        FROM CLSFC
                                WHERE SECTION_CD = #{SECTION_CD}
                                ),
                                #{SECTION_CD},
                                #{CLSFC_CD},
                                #{CLSFC_NM},
                                #{ARRAY_NO}, 	
                                DECODE(#{USE_YN}, NULL, 'N', #{USE_YN}) ,
                                SYSDATE 
                        )
</insert>


<update id="comCodeClsfcUpdate" parameterType="Map">
       UPDATE   /* ComMapper.comCodeClsfcUpdate */
                 CLSFC
        SET      
                 CLSFC_CD   = #{CLSFC_CD}	/*	'중분류_코드';  */
                ,CLSFC_NM   = #{CLSFC_NM}	/*	'중분류_명';   	*/
                ,ARRAY_NO   = #{ARRAY_NO}	/*	'정렬_순번';   	*/
                ,USE_YN     = #{USE_YN}         /*사용여부*/
                ,REG_YMD    = sysdate
        WHERE SECTION_CD = #{SECTION_CD}
            AND NO = #{NO}
</update>

    <sql id="comCodeClsfcSelectNew">
                        SELECT /* ComMapper.comCodeClsfcSelectNew*/
                                 NO      	/*	'순번';         */
                                ,SECTION_CD 	/*	'대분류_코드';  */
                                ,CLSFC_CD 	/*	'중분류_코드';  */
                                ,CLSFC_NM 	/*	'중분류_명';   	*/
                                ,ARRAY_NO 	/*	'정렬_순번';   	*/
                                ,USE_YN 	/*	'사용여부';    	*/
                                ,REG_YMD	/*	'등록일시';    	*/
                        FROM  CLSFC
                         WHERE      SECTION_CD = #{SECTION_CD}
                                <if test='CLSFC_CD != null and CLSFC_CD != "" '>
                                AND CLSFC_CD = #{CLSFC_CD}
                                </if>
    </sql>
    


<select id = "selectBox"  resultType="Map" parameterType="Map">
        SELECT /* ComMapper.selectBox*/
                                 ROW_NUMBER() OVER ( ORDER BY (CASE WHEN REGEXP_LIKE(CLSFC_CD, '^[0-9]+$') THEN 2 ELSE 1 END), CLSFC_NM) AS NO      	/*	'순번';         */
                                ,SECTION_CD 	/*	'대분류_코드';  */
                                ,CLSFC_CD 	/*	'중분류_코드';  */
                                ,CLSFC_NM 	/*	'중분류_명';   	*/
                                ,ARRAY_NO 	/*	'정렬_순번';   	*/
                                ,USE_YN 	/*	'사용여부';    	*/
                                ,REG_YMD	/*	'등록일시';    	*/
                        FROM  CLSFC
        WHERE 1=1
        <if test='SECTION_CD != null and SECTION_CD != "" '>
                AND SECTION_CD  = #{SECTION_CD}
        </if>
</select>

</mapper>