<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배당 거래내역</title>
  
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/dividend.css}">
  <!--부트스트랩-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <!-- 부트 스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <script type="text/javascript" th:src="@{/JS/dividend/dividend.js}"></script>
  <script type="text/javascript" th:src="@{/JS/COMMON/common.js}"></script>
  <style>
    
  </style>

  <script th:inline="javascript">

  window.onload = function(){
    const data = /*[[${dList}]]*/;
    const trnscdate = /*[[${trnscdate}]]*/;
    const monthSelect =/*[[${monthSelect}]]*/;
    const stockName = /*[[${stockName}]]*/;

    document.getElementById('inputTrnscdate').value = new Date().toISOString().substring(0, 10);
    dividendList(data, monthSelect);
    trnscdateSelect(trnscdate);
    fu_monthSelect(monthSelect);

    // 수정 모달찰 호출
    var exampleModal = document.getElementById('updateModal2')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      fetchCall(event, exampleModal);
    })
    // 현재날짜로 셋팅
    // 숨기기
    //document.getElementById("col-sm-11").style.display ='none';	
    //document.getElementById("col-sm-12").style.display ='none';	
      // 파일 입력 필드를 찾습니다.
      var fileInput2 = document.getElementById("image1");
  }
 
  function readURL(input, img) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById(img).src = e.target.result;
    };
    reader.readAsDataURL(input.files[0]);
    document.getElementById(img).style.display = '';
    //document.getElementById("col-sm-11").style.display ='block';	
  } else {
    //document.getElementById('image1').src = "";
    //document.getElementById("col-sm-11").style.display ='none';	
  }
}
  </script>
</head>
<body>
  
    <label th:text="${title}"></label> 
    
    <br><br><br>
  <div>
      <a href="/">홈</a>
      <a href="/dividend/dividendList">배당화면(전체)</a>
      <a href="/dividend/byWeekDividendList">배당화면(주별)</a>
      <a href="/clndr/dvdndClndr">일정관리</a>
      <br><br><br>
  </div>

<br>
  
  <div class="input-group">
    <form th:action="@{/dividend/dividendList}" method="get">
      <div class="input-group">
          &nbsp;&nbsp;
          <span class="input-group-text">년월</span>
          &nbsp;&nbsp;
        <div class="w-20">
          <select class="form-select" aria-label="Default select example" name="trnscdate" title="전체"  id="trnscdateSelect">
            <option value = "">전체</option>
          </select>
        </div>
        &nbsp;&nbsp;
        <span class="input-group-text">년월</span>
        &nbsp;&nbsp;
        <div class="w-20">
          <select id="monthSelect" name="monthSelect" class="form-select">
            <option value="">전체</option>
            <option value="01">1월</option>
            <option value="02">2월</option>
            <option value="03">3월</option>
            <option value="04">4월</option>
            <option value="05">5월</option>
            <option value="06">6월</option>
            <option value="07">7월</option>
            <option value="08">8월</option>
            <option value="09">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
        </select>
        </div>
        &nbsp;&nbsp;
        <span class="input-group-text">항목</span>
          &nbsp;&nbsp;
          <input type="text" name="stockName" th:value="${stockName}"> 
          &nbsp;&nbsp;<button type="submit">검색</button>
      </div>
    </form>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      등록
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div th:if="${!#lists.isEmpty(dList)}">
        <span class="callout" th:text="${'합계: ' + #aggregates.sum(dList.![
          JANUARY
        + FEBRUARY
        + MARCH
        + APRIL
        + MAY
        + JUNE
        + JULY
        + AUGUST
        + SEPTEMBER
        + OCTOBER
        + NOVEMBER
        + DECEMBER]) * 1.0}"></span>
      </div>
  </div>

  
  <br>
  <table class="table table-bordered" th:if="${!#lists.isEmpty(dList)}">
    <thead >
      <tr >        
      <!--년도--><th >년도</th>
      <!--항목--><th>항목</th>
      <!--1월--> <th>01월</th>
      <!--2월--> <th>02월</th>
      <!--3월--> <th>03월</th>
      <!--4월--> <th>04월</th>
      <!--5월--> <th>05월</th>
      <!--6월--> <th>06월</th>
      <!--7월--> <th>07월</th>
      <!--8월--> <th>08월</th>
      <!--9월--> <th>09월</th>
      <!--10월--><th>10월</th>
      <!--11월--><th>11월</th>
      <!--12월--><th>12월</th>
      <!--합계--><th>합계</th>
      </tr>
    </thead>
    <tbody>
      <tr  th:each="dlist : ${dList}">    
            <!--년도--><td scope="col"><label th:text="${dlist.TRNSCDATE}"></label></td>
            <!--항목--><td th:text="${dlist.STOCK_NAME}"></td>
            <!--1월--> <td class="JANUARY"   th:classappend="${dlist.JANUARY eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.JANUARY}"></td>
            <!--2월--> <td class="FEBRUARY"  th:classappend="${dlist.FEBRUARY eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.FEBRUARY}"></td>
            <!--3월--> <td class="MARCH"     th:classappend="${dlist.MARCH eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.MARCH}"></td>
            <!--4월--> <td class="APRIL"     th:classappend="${dlist.APRIL eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.APRIL}"></td>
            <!--5월--> <td class="MAY"       th:classappend="${dlist.MAY eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.MAY}"></td>
            <!--6월--> <td class="JUNE"      th:classappend="${dlist.JUNE eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.JUNE}" ></td>
            <!--7월--> <td class="JULY"      th:classappend="${dlist.JULY eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.JULY}" ></td>
            <!--8월--> <td class="AUGUST"    th:classappend="${dlist.AUGUST eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}" th:text="${dlist.AUGUST}" ></td>
            <!--9월--> <td class="SEPTEMBER" th:classappend="${dlist.SEPTEMBER eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}"  th:text="${dlist.SEPTEMBER}" ></td>
            <!--10월--><td class="OCTOBER"   th:classappend="${dlist.OCTOBER eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}"  th:text="${dlist.OCTOBER}" ></td>
            <!--11월--><td class="NOVEMBER"  th:classappend="${dlist.NOVEMBER eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}"  th:text="${dlist.NOVEMBER}" ></td>
            <!--12월--><td class="DECEMBER"  th:classappend="${dlist.DECEMBER eq 0} ? td_disable : td_hove" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateModal2" th:attr="data-bs-whatever=${dlist}"  th:text="${dlist.DECEMBER}" ></td>
            <!--합계--><td th:text="${
              dlist.JANUARY 
              + dlist.FEBRUARY
              + dlist.MARCH
              + dlist.APRIL
              + dlist.MAY
              + dlist.JUNE
              + dlist.JULY
              + dlist.AUGUST
              + dlist.SEPTEMBER
              + dlist.OCTOBER
              + dlist.NOVEMBER
              + dlist.DECEMBER
            }" ></td>
      </tr>
  </tr>
    </tbody>
  </table>

  <br>
    <div class="w-75 p-3" th:if="${!#lists.isEmpty(dList)}">
      <canvas id="bar_chart"></canvas>
    </div>

    

 <!-- 등록 Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">배당 등록</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3 row">
              <label class="col-sm-3 col-form-label ">주식명</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example" id="selectBox">
                  <th:block th:each="selectBox : ${selectBox}">
	                  <option name="stockName" th:value="${selectBox.stockName}"
                    th:text="${selectBox.stockName}"></option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label  class="col-sm-3 col-form-label">거래 일자</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="inputTrnscdate">
              </div>
            </div>
            <div class="mb-3 row">
              <label  class="col-sm-3 col-form-label">배당금</label>
              <div class="col-sm-8">
                <input type="text" class="form-control inputDiviend" id="inputDiviend" value="0">
              </div>
            </div>
            <div class="mb-3 row">
              <label  class="col-sm-3 col-form-label">거래 금액</label>
              <div class="col-sm-8">
                <input type="text" class="form-control inputAmount" id="inputAmount" value="0">
              </div>
            </div>
            
            <div class="mb-3 row">
              <div class="col-sm-11">
                <input type="file" class="form-control" id="inputFile" name="inputFile"  accept="image/*" onchange="readURL(this, 'image2');"  ><!--onchange="toBase64(event);"-->
              </div>
            </div>
            
            <div class="mb-3 row">
              <div class="col-sm-11" id="col-sm-11">
                <img id="image2" class="card-img-bottom image3" src="" alt="이미지" style="display: none;">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-outline-success" onclick="transactionInsert();">저장</button>
      </div>
    </div>
  </div>
  </div>


  <!-- 수정 모달 창-->

  <div class="modal fade" id="updateModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">배당 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- 스피너 -->
        <div class="d-flex justify-content-center" >
          <div class="spinner-border" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
            <div class="modal-body" id="modal-body">
                      <div class="mb-3 row modal-body-no" style="display: none;"><!---->
                          <label class="col-sm-3 col-form-label ">배당 순번</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="updateTno" name="tNo">
                          </div>
                      </div>
                      <div class="mb-3 row modal-body-fno" style="display: none;">
                        <label class="col-sm-3 col-form-label ">파일 순번</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="updateFno" name="fNo">
                        </div>
                      </div>

                      <div class="mb-3 row modal-body-stockName">
                          <label class="col-sm-3 col-form-label ">주식명</label>
                          <div class="col-sm-8">
                            <select class="form-select" aria-label="Default select example" id="updatestockName">
                              <th:block th:each="selectBox : ${selectBox}">
                                <option name="updatestockName" th:value="${selectBox.stockName}"
                                th:text="${selectBox.stockName}"></option>
                              </th:block>
                            </select>
                          </div>
                      </div>
                      <div class="mb-3 row">
                        <label  class="col-sm-3 col-form-label">거래 일자</label>
                        <div class="col-sm-8">
                          <input type="date" class="form-control" id="updateTrnscdate" name="trnscdate">
                        </div>
                      </div>          
                      <div class="mb-3 row modal-body-Diviend">
                        <label  class="col-sm-3 col-form-label">배당금</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="updateDiviend" value="0">
                        </div>
                      </div>
                      <div class="mb-3 row modal-body-Amount">
                        <label  class="col-sm-3 col-form-label">거래 금액</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="updateAmount" name="amount">
                        </div>
                      </div>
                      
                      <div class="mb-3 row">
                        <div class="col-sm-11">
                          <input type="file" class="form-control" id="updateFile" name="updateFile" onchange="readURL(this, 'image1');"><!--onchange="toBase64(event);"-->
                        </div>
                      </div>
                      
                      <div class="mb-3 row">
                        <div class="col-sm-11" id="col-sm-12">
                          <img id="image1" class="card-img-bottom image3" src="" alt="이미지" style="display: none;">
                        </div>
                      </div>
                </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-outline-danger" onclick="transactionDelete();">삭제</button>
                        <button type="button" class="btn btn-outline-success" onclick="transactionUpdate();">수정</button>
                      </div>

                      
            </div>
    </div>
  </div>

</body>
</html>
