<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

    </style>
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/comonCode.css}">
  <!--부트스트랩-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
  <script type="text/javascript" th:src="@{/JS/COMMON/commCode.js}"></script>
  <!--<script type="text/javascript" th:src="@{/JS/dividend/dvdndClndr.js}"></script>-->

  <!-- 부트 스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </script>
  <script th:inline="javascript">
    window.onload = function(){
            const data = /*[[${cStr}]]*/;
            switch (data){
            case 'Y': 
              alert('성공했습니다');
              location.href = location.href;
              break; 
            case 'N':
              alert('실패했습니다');
              location.href = location.href;
              break;
            default:
              //answer ="stuff"; 
              break;
          }
     
    // 테이블 요소 가져오기
    var table = document.getElementById('myTable');
    
    // 테이블 행에 클릭 이벤트 추가
    for (var i = 1; i < table.rows.length; i++) {
      table.rows[i].onclick = function() {
        var cells = this.cells;
        var cellData = [];
        for (var j = 0; j < cells.length; j++) {
          cellData.push(cells[j].innerHTML);
        }
        alert('You clicked on row with data: ' + cellData.join(', '));
      };
    }

    }
  </script>
  <title>공통코드 등록</title>
</head>
<body>
  <p th:replace="view/layout/top.html :: head"></p>
  <form class="d-flex" role="search" th:action="@{/com/detailsSearch.do}"  method="get">
    <span class="input-group-text" id="basic-addon3">대분류코드</span>
    <input class="form-control w-25 p-20" type="search" id="SECTION_CD" name="SECTION_CD" placeholder="대분류코드" aria-label="Search" th:value="${SECTION_CD}">
    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <span class="input-group-text" id="basic-addon3">대분류명</span>
    <input class="form-control w-25 p-20" type="search" id="SECTION_NM" name="SECTION_NM" placeholder="대분류명" aria-label="Search" th:value="${SECTION_NM}">
    &emsp;
    <button class="btn btn-outline-success" type="submit">검색</button>
  </form>
  
  <br>
  <form action="#" th:action="@{/com/comonCodeInster.do}"  method="post" >
    <table class="table w-75 p-3">
      <thead>
        <tr>
          <th scope="col" >순번</th>
          <th scope="col" >대분류코드</th>
          <th scope="col" >대분류명</th>
          <th scope="col" >사용여부</th>
          <th scope="col" >구분</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th  class="th01"><p>1</p></th>
          <td><input class="form-control" type="text"  id="SECTION_CD" name="SECTION_CD" placeholder="대분류 코드" ></td>
          <td><input class="form-control" type="text"  id="SECTION_NM" name="SECTION_NM" placeholder="대분류 명" ></td>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Y"   name="USE_YN">
              <label class="form-check-label" for="flexCheckDefault">
                사용여부
              </label>
            </div>
          </td>
          <td>
            <label for="staticEmail2" class="">
              <button class="btn btn-outline-success" type="submit">등록</button>
            </label>
          </td>
        </tr>
      </tbody>
    </table>  
  </form> 
  <br>


  <div class="table-container">
    <table class="table w-75 p-3 table01" id="myTable001">
      <thead class="thead01" >
        <tr>
          <th scope="col" class="th01">순번</th>
          <th scope="col" class="th01">대분류 코드</th>
          <th scope="col" class="th01">대분류 명</th>
          <th scope="col" class="th01">사용여부</th>
          <th scope="col" class="th01">구분</th>
          <th scope="col" class="th01">등록일시</th>
        </tr>
      </thead>
      <tbody class="tbody01">
        <th:block th:if="${!#lists.isEmpty(cList)}" >
          <tr th:each="cList, userStat  : ${cList}" onclick="tableCheck(this)">
            <th scope="col" class="th01">
              <p th:text="${cList.NO}"></p>
              <input class="form-control" type="text" name="NO" th:value="${cList.NO}"  style="display: none;">
            </th>
            <td scope="col" class="td01">
              <input class="form-control" type="text" name="SECTION_CD" th:value="${cList.SECTION_CD}"  >
            </td>
            <td scope="col" class="td01">
              <input class="form-control " type="text" name="SECTION_NM" th:value="${cList.SECTION_NM}">
            </td>
            <td scope="col" class="td01">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Y" name="USE_YN" th:id="${userStat.index}"
                th:checked="${cList} and (${cList.USE_YN} == 'Y')">
                <label class="form-check-label" th:for="${userStat.index}">
                  사용여부
                </label>
              </div>
            </td>
            <td scope="col" class="td01">
              <label for="staticEmail2" class="">
                <input type="button" value="수정" onclick="sendRowData(this)"/>
              </label>
            </td>
            <td scope="col" th:text="${cList.REG_YMD}" class="td01">
            </td>
          </tr>
        <th:block>
      </tbody>
    </table>  
</div>

    <br>
    <br>


<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn me-2 btn-outline-success me-2" type="button">행추가</button>
    <button class="btn me-2 btn-outline-secondary me-2" type="button">행삭제</button>
  </form>
</nav>

    <!-- 중분류 코드 등록-->
    <form action="#" th:action="@{/com/comonCodeInster.do}"  method="post" >
      <table class="table w-75 p-3">
        <thead>
          <tr>
            <th scope="col">순번</th>
            <th scope="col">대분류코드</th>
            <th scope="col">중분류코드</th>
            <th scope="col">중분류명</th>
            <th scope="col">사용여부</th>
            <th scope="col">구분</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th><p>1</p></th>
            <td><input class="form-control" type="text"  id="SECTION_CD" name="SECTION_CD" placeholder="대분류 코드" ></td>
            <td><input class="form-control" type="text"  id="SECTION_CD" name="SECTION_CD" placeholder="중분류 코드" ></td>
            <td><input class="form-control" type="text"  id="SECTION_NM" name="SECTION_NM" placeholder="중분류 명" ></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Y" name="USE_YN">
                <label class="form-check-label" for="flexCheckDefault">
                  사용여부
                </label>
              </div>
            </td>
            <td>
              <label for="staticEmail2" class="">
                <button class="btn btn-outline-success" type="submit">등록</button>
              </label>
            </td>
          </tr>
        </tbody>
      </table>  
    </form> 
  
  
</body>
</html>
