<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

    </style>
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/dvdndClndr.css}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
  <script type="text/javascript" th:src="@{/JS/dividend/dvdndClndr.js}"></script>
  <script>
  
  </script>
  <title>배당 일정관리</title>
</head>
<body>
  
    <label th:text="${title}"></label> 

    <br><br><br>
    <div>
      <a href="/">홈</a>
      <a href="/dividend/dividendList">배당화면</a>
      <a href="/clndr/dvdndClndr">일정관리</a>
    </div>
    <br><br><br>

      
      <div class="CardBox " style="width: 800px; height: 800px;">
        <div id='calendar' ></div>
      </div>
    </div>
</body>
</html>
