
.dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.dialog__inner {
    width: 400px;
    height: 200px;
    background: white;
}


.hide_column{
    display: none;
}

.show_columns{
    display: block;
}

.hidden_column
{
    visibility: hidden;
}

.visible_column
{
    visibility: visible;
}



.Grid {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }

  .CardContainer {
    width: 100%;
    height: 70%;
    position: relative;
  }

  .CardContainer::after {
    display: block;
    padding-bottom: 100%;
  }

.new_input{
  border:0 solid black;
}
.td_disable{
      pointer-events : none;
    }
.hide_column{
  display: none;
}

.show_columns{
  display: block;
}

.hidden_column
{
  visibility: hidden;
}

.visible_column
{
  visibility: visible;
}

.height_scroll{
  height:400px;
  overflow-x:hidden;
  overflow-y:auto;
}