.dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.dialog__inner {
    width: 400px;
    height: 200px;
    background: white;
}


.hide_column{
    display: none;
}

.show_columns{
    display: block;
}