<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.spring.mapper.DetailsMapper">

<select id = "stockDetailsList"  resultType="com.springboot.spring.vo.StockVO">
        SELECT 
                registration_order, 
                stock_name, 
                shares, 
                stock_dividends, 
                maeipkkeum, 
                dividends, 
                registration_date
         FROM STOCK_MANAGEMENT_TABLE
                order by to_number(registration_order) desc
</select>

<update id="detailsUpdate" parameterType="com.springboot.spring.dto.StockDTO" >
        update 
         STOCK_MANAGEMENT_TABLE
          set   stock_name       =      #{stock_name}
                ,shares          =      #{shares}
                ,stock_dividends =      #{stock_dividends}
                ,maeipkkeum      =      #{maeipkkeum}
                ,dividends       =      #{dividends}
                ,registration_date = sysdate
        where registration_order = #{registration_order}
</update>

<insert id="detailsInsert" parameterType="com.springboot.spring.dto.StockDTO" >
        INSERT	INTO STOCK_MANAGEMENT_TABLE
        (
                REGISTRATION_ORDER,
                STOCK_NAME,
                SHARES,
                STOCK_DIVIDENDS,
                MAEIPKKEUM,
                DIVIDENDS,
                REGISTRATION_DATE)
        VALUES(
                STOCK_MANAGEMENT_SEQ.NEXTVAL,
                #{stock_name},
                #{shares},
                #{stock_dividends},
                #{maeipkkeum},
                #{dividends},
                sysdate 
                )

</insert>

<delete id="detailsDelete" parameterType="int"> 
        DELETE FROM STOCK_MANAGEMENT_TABLE WHERE REGISTRATION_ORDER = #{registration_order}
</delete>
	

</mapper>