<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.spring.mapper.DetailsMapper">

<!-- 주식 거래 내역-->
<select id = "stockDetailsList"  resultType="com.springboot.spring.vo.StockportfolioVO" parameterType="com.springboot.spring.dto.StockportfolioDto">
        SELECT          /* DetailsMapper.stockDetailsList */
                        NO,
                        STOCK_NAME,
                        STOCK_QUANTITY,
                        DIVIDEND_CYCLE,
                        PURCHASE_PRICE,
                        DIVIDEND_AMOUNT,
                        CLSCD,
                        RGSTDATE
                FROM
                        STOCKPORTFOLIO
                where CLSCD != 'N'
                <if test='stockName != null and stockName != "" '>
                        and STOCK_NAME = #{stockName}
                </if>
                <if test='dividendCycle != null and dividendCycle != "" '>
                        and (DIVIDEND_CYCLE like #{dividendCycle} || '%'
                        or DIVIDEND_CYCLE = '월'
                        )
                </if>
                        order by DIVIDEND_CYCLE
</select>

<!-- 주식 종목 내역-->
<select id = "selectBox"  resultType="com.springboot.spring.vo.StockportfolioVO" parameterType="com.springboot.spring.dto.StockportfolioDto">
        SELECT          /* DetailsMapper.selectBox */
                        NO,
                        STOCK_NAME,
                        STOCK_QUANTITY,
                        DIVIDEND_CYCLE,
                        PURCHASE_PRICE,
                        DIVIDEND_AMOUNT,
                        CLSCD,
                        RGSTDATE
                FROM
                        STOCKPORTFOLIO
                where 1=1
                        order by STOCK_NAME desc
</select>

<update id="detailsUpdate" parameterType="com.springboot.spring.dto.StockportfolioDto" >
       UPDATE   /* DetailsMapper.detailsUpdate */
                 STOCKPORTFOLIO
         SET 
                STOCK_NAME= #{stockName}, 
                STOCK_QUANTITY=#{stockQuantity}, 
                DIVIDEND_CYCLE=#{dividendCycle} , 
                PURCHASE_PRICE=#{purchasePrice}, 
                DIVIDEND_AMOUNT=#{dividendAmount}, 
                CLSCD= #{clscd} , 
                RGSTDATE=sysdate
        WHERE NO = #{no}
</update>

<insert id="detailsInsert" parameterType="com.springboot.spring.vo.StockportfolioVO" >
        INSERT 	INTO	        /* DetailsMapper.detailsInsert */
                STOCKPORTFOLIO
                (       NO,
                        STOCK_NAME,
                        STOCK_QUANTITY,
                        DIVIDEND_CYCLE,
                        PURCHASE_PRICE,
                        DIVIDEND_AMOUNT,
                        RGSTDATE)
                VALUES(
                        STOCKPORTFOLIO_SEQ.NEXTVAL
                        ,#{stockName}
                        ,#{stockQuantity}
                        ,#{dividendCycle}
                        ,#{purchasePrice}
                        ,#{dividendAmount}
                        ,sysdate
                )
</insert>



<update id="detailsDelete" parameterType="int">
       UPDATE   /* DetailsMapper.detailsDelete */
                 STOCKPORTFOLIO
         SET 
                CLSCD=  'N' , 
                RGSTDATE=sysdate
        WHERE NO = #{no}
</update>

</mapper>