<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.spring.mapper.details.DetailsMapper">

<select id = "stockDetailsList"  resultType="com.springboot.spring.vo.StockportfolioVO" parameterType="com.springboot.spring.dto.StockportfolioDto">
                SELECT
                        /* DETAILSMAPPER.STOCKDETAILSLIST */
                        A.NO,
                        A.STOCK_NAME,
                        A.STOCK_QUANTITY,
                        A.DIVIDEND_CYCLE,
                        A.PURCHASE_PRICE,
                        NVL(B.DIVIDEND, A.DIVIDEND_AMOUNT) AS DIVIDEND_AMOUNT,
                        A.CLSCD,
                        A.RGSTDATE
                FROM
                        STOCKPORTFOLIO A
                        , (
                                SELECT * FROM 
                                                (
                                                        SELECT
                                                        ROW_NUMBER() OVER(PARTITION BY STOCK_NAME ORDER BY TRNSCDATE DESC) AS RNK,
                                                                STOCK_NAME,
                                                                AMOUNT,
                                                                DIVIDEND
                                                        FROM
                                                                TRANSACTION
                                                ) W 
                                                        WHERE RNK = 1
                        ) B
                WHERE
                        A.CLSCD != 'N'
                        AND A.STOCK_NAME  = B.STOCK_NAME(+) 
                <if test='stockName != null and stockName != "" '>
                        AND A.STOCK_NAME = #{stockName}
                </if>
                <if test='dividendCycle != null and dividendCycle != "" '>
                        AND (A.DIVIDEND_CYCLE like #{dividendCycle} || '%'
                        OR A.DIVIDEND_CYCLE = '월'
                        )
                </if>
                        order by A.DIVIDEND_CYCLE
</select>

<select id = "selectBox"  resultType="com.springboot.spring.vo.StockportfolioVO" parameterType="com.springboot.spring.dto.StockportfolioDto">
        SELECT          /* DetailsMapper.selectBox */
                        NO,
                        STOCK_NAME,
                        STOCK_QUANTITY,
                        DIVIDEND_CYCLE,
                        PURCHASE_PRICE,
                        DIVIDEND_AMOUNT,
                        CLSCD,
                        RGSTDATE
                FROM
                        STOCKPORTFOLIO
                where 1=1
                        order by STOCK_NAME desc
</select>

<update id="detailsUpdate" parameterType="com.springboot.spring.dto.StockportfolioDto" >
       UPDATE   /* DetailsMapper.detailsUpdate */
                 STOCKPORTFOLIO
         SET 
                STOCK_NAME= #{stockName}, 
                STOCK_QUANTITY=#{stockQuantity}, 
                DIVIDEND_CYCLE=#{dividendCycle} , 
                PURCHASE_PRICE=#{purchasePrice}, 
                DIVIDEND_AMOUNT=#{dividendAmount}, 
                CLSCD= #{clscd} , 
                RGSTDATE=sysdate
        WHERE NO = #{no}
</update>

<insert id="detailsInsert" parameterType="com.springboot.spring.vo.StockportfolioVO" >
        INSERT 	INTO	        /* DetailsMapper.detailsInsert */
                STOCKPORTFOLIO
                (       NO,
                        STOCK_NAME,
                        STOCK_QUANTITY,
                        DIVIDEND_CYCLE,
                        PURCHASE_PRICE,
                        DIVIDEND_AMOUNT,
                        RGSTDATE)
                VALUES(
                        STOCKPORTFOLIO_SEQ.NEXTVAL
                        ,#{stockName}
                        ,#{stockQuantity}
                        ,#{dividendCycle}
                        ,#{purchasePrice}
                        ,#{dividendAmount}
                        ,sysdate
                )
</insert>



<update id="detailsDelete" parameterType="int">
       UPDATE   /* DetailsMapper.detailsDelete */
                 STOCKPORTFOLIO
         SET 
                CLSCD=  'N' , 
                RGSTDATE=sysdate
        WHERE NO = #{no}
</update>


<!-- 주식 상세 조회-->
<select id = "stockDetailList"  resultType="Map" parameterType="Map" >
              <![CDATA[  SELECT /* DetailsMapper.stockDetailList : 주식 상세 조회 */
                        A.STOCK_NAME , --주식명
                        A.STOCK_QUANTITY, --주식보유수
                        A.PURCHASE_PRICE, --매입금
                        A.STOCK_QUANTITY * A.PURCHASE_PRICE AS PURCHASE_PRICE_SUM, --매입금(합계)
                        SUM(NVL(B.AMOUNT, 0)) AS AMOUNT --배당금(누적)
                FROM
                        STOCKPORTFOLIO  A
                        , TRANSACTION B
                WHERE 
                        A.STOCK_NAME  = B.STOCK_NAME(+) 
                        AND A.STOCK_QUANTITY  >  0
                        AND  A.STOCK_NAME  <> '테스트'
                        AND A.STOCK_NAME = #{STOCK_NAME}
                GROUP BY 
                        A.STOCK_NAME ,
                        A.STOCK_QUANTITY,
                        A.PURCHASE_PRICE
                ORDER BY A.STOCK_NAME 	
                 ]]>
</select>

<!-- 자산관리 총 자산, 누적 배당금 -->
<select id="selectSum01" resultType="Map" parameterType="com.springboot.spring.vo.StockportfolioVO">
        SELECT /* DetailsMapper.selectSum01 : 자산관리 총 자산, 누적 배당금 */
           ( SELECT TO_CHAR(SUM(STOCK_QUANTITY * PURCHASE_PRICE), 'FM999,999,999,999.999') FROM STOCKPORTFOLIO WHERE CLSCD  = 'Y') AS SUM01
          ,( SELECT TO_CHAR(sum(AMOUNT), 'FM999,999,999,999.999') FROM TRANSACTION) AS SUM02
        FROM dual
</select>

<!-- 자산관리 개별 배당금 -->
<select id="selectSum02" resultType="Map" parameterType="com.springboot.spring.vo.StockportfolioVO">
        SELECT /* DetailsMapper.selectSum01 : 자산관리 총 자산, 누적 배당금 */
                TB01.STOCK_NAME,
                TO_CHAR(SUM(TB01.AMOUNT), 'FM999,999,999,999.999')+0 AS EACH_MONEY
        FROM TRANSACTION TB01, STOCKPORTFOLIO TB02
        WHERE TB01.STOCK_NAME = TB02.STOCK_NAME
        	AND TB02.CLSCD  = 'Y'
        GROUP BY TB01.STOCK_NAME 
                ORDER BY 1,2 DESC
</select>


<!-- 자산관리 년도별 배당금 추이 -->
<select id="selectSum03" resultType="Map" parameterType="com.springboot.spring.vo.StockportfolioVO">
        SELECT 
                TO_CHAR(TB01.TRNSCDATE , 'YYYY-MM') AS TRNSC_DATE 
                ,TO_CHAR(SUM(TB01.AMOUNT), 'FM999,999,999,999.999')+0 AS EACH_MONEY01
        FROM TRANSACTION TB01, STOCKPORTFOLIO TB02
        WHERE TB01.STOCK_NAME = TB02.STOCK_NAME
        	AND TB02.CLSCD  = 'Y'
        GROUP BY TO_CHAR(TB01.TRNSCDATE , 'YYYY-MM') 
                ORDER BY 1
</select>

</mapper>